div {
    float: left;
    border: 1px solid red;
    padding-left: 100px;
    margin-left: 175px;
}

div#buttons {
    margin-top: 100px;
    height: 400px;
    width: 300px;
    float: left;
    border: 1px solid blue;
}

button {
    height: 70px;
    width: 70px;
}